body { 
    font-family: "Helvetica";
    background-color: rgba(247, 145, 90, 0.826);
}
h1 {
    text-align: center;
}

.topnav {
    overflow:hidden;
    float:right;

}
.topnav a {
    color:darkcyan;
    display: inline-block;
    border: 1px solid black;
    background-color:cornsilk;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 6px;
    transition:100ms;
    text-align: center;
}
.topnav a:hover {
    box-shadow: 3px 3px 3px black;
}
.LogoContainer {

}
.LogoContainer img.Logo {
    height: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.writeup {
    width:77%;
}
.email {
    width:20px;
    height:20px;
    margin-top: -15px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

.column {
    float: left;
    width: 33.33%;
    padding: 15px;
    text-align: center;
  }
  * {
    box-sizing: border-box;
  }

