/* Background Color */
/* {
    box-sizing: border-box;
  }*/
  body { 
    margin: auto;
    padding: 0;
    font-family: "Poppins";
    background-color: #FFB703;
}

/* Navigation Pages */

.topnav {
    
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    display: flex;
    background: #FFB703;
    box-shadow: 0 3px 10px #1b1b19;
    padding: 3em;
    margin-top: 100px;
    position: static;
}

.LogoContainer  {
    height: 100px;
    border-radius: 50%;
    display: flex;
    position: left;
}
img.Logo{
  margin-top:10% ;
  height:85px;
  width:85px;
  border-radius: 50%;
}

/* Text under navigation bar */

.undernav {
    color:#023047;
   

}

.undernav h1 {
    text-align: center;
}

.undernav h2 {
    width: 100%;
    word-wrap: break-word;
    line-height: 1.5;
    padding-left: 70px;
    padding-right: 100px;
  
    
    

}

/* All rows */

.row {
    color:#023047;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Home Page columns */
.row #OurServices, #Testimonials, #AgentContacts {
    float: left;
    width: 33.33%;
    padding: 15px;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
}
.imageapartment{
  
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 50px;
  height: 350px;
  width:350px;
  border-radius:20px;
  filter: drop-shadow(2px 2px 10px black);
  cursor:pointer;
  z-index: 1;


}

.imageapartment:hover{

  transform: scale(1.1);
  transition: all .3s ease-in-out; 
  text-align: center;
}
   


.contain{
  position: relative;
}
.text{
  
  position: absolute;
  color:white;
  word-wrap: break-word;
  
  height: 10%;
  width: 70%;
  top: 50px;
  left: 50%;
  
  font-size: 25px;
  text-shadow: 0 0px 10px rgb(0 0 0);
  line-height: 1.12;
  font-family: "Secular One";
  letter-spacing: -0.1px;
  transform: translate(-50%, -50%);

  display:block;
    object-fit: cover;
    max-width: 120%;
    max-height: 120%;
   
   
   
    
}
/*.text:hover{
  visibility: visible;
  position: absolute;
  color:white;
  z-index: 2;
  top: 30px;
  left:160px;
  transform: translate(-50%, -50%);
  font-size: 25px;
  text-shadow: 0 0px 10px rgb(0 0 0);
  line-height: 1.12;
  font-family: "Secular One";
  letter-spacing: -0.1px;
}
*/
.apartments{
  margin-left: 40px;
  
  max-width: 100%;
 
}
.apartments123{
  display: flex;
  margin-left: 40px;
}
.container{
  position: relative;
    text-align: center;
  }
  .imageresidence{
    height: 650px;
    width: 100%;
    max-width: 100%;
    padding: 20px 40px;
    border-radius:11px;
    
    filter: drop-shadow(2px 2px 10px black)
  }
  .firsttext {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    text-shadow: 0 0px 10px rgb(0 0 0);
    line-height: 1.12;
    color: rgb(225, 255, 255);
    font-family: "Secular One";
    letter-spacing: -0.1px;
   
  } 
  .containingimages{
    margin-left: 20%;
    
    display: flex;
  }
  .neighborandtext{
    display: block;
    margin-left:10% ;
    width: 200px;
  }
  #home{
    height: 150px;
    width:100%;
    padding: 10px;
  }
 
  .homeandtext{
    display: block;
    margin-left:10% ;
    width: 170px;
  }
  #texthometitle{
    word-spacing: -2px;
    text-align: justify;
    
    padding-top: 20px;
    cursor: context-menu;
    padding-left:13%;
    font-size:23px;
  }
  #texthome{
    text-align: center;
    cursor: context-menu;
    padding-top: 20px;
    
    font-size:17px;
   
  }
  #textneighbor{
    padding-top: 10px;
    text-align: center;
    cursor: context-menu;
    
   
    font-size:17px;
  
  }
  #textneighbortitle{
    word-spacing: -2px;
    text-align: center;
    
    padding-bottom: 10px;
    cursor: context-menu;
    padding-left:5%;
    font-size:23px;
  }

  .buttonhome {
    width: 100%;
    height: 35px;
    margin-top: 20px;
    border-width:2px ;
    border-color: #219EBC;
    background-color: #219EBC;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.buttonhome:hover {
    background-color: white;
    
    color: #219EBC;
}
  
/* Pricing columns */

#Free, #Premium {
    float: left;
    margin-left:50px;
    margin-right:125px;
    width:40%;
    padding: 10px;
    border-style: solid;
    border-radius: 8px;
    color: #023047;
    
}
  
/* Pricing */

.pricing-desc {
  text-align: center;
}

#Free h2 {
    color: #023047;
    text-align: center;
    font-size: 40px;
}
#Premium h2 {
    
    color: #023047;
    text-align: center;
    font-size: 40px;
    border-radius: 5px;
    text-decoration: underline;
}

.list-pricing {
    text-align: center;
    list-style-type: none;
    font-size: 25px;
    color: #023047;
    border: 2px solid #023047;
    padding: 20px;
    margin: 10px;
    margin-left:10px;
    border-radius: 10px;
}

.list-pricing h3{
    font-size: 40px;
}

.list-button {
    text-align: center;
    list-style-type: none;
    font-size: 25px;
    color: #023047;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.button-pricing {
    border: 2px solid #023047;
    border-radius: 7px;
    font-size: 50px;
    background-color: #FB8500;
    transition: 150ms;
    color: #8ECAE6;
    padding:10px;
}
.button-pricing:hover, .link-pricing:hover {
    background-color: #8ECAE6;
    font-size: 60px;
    color: #FB8500;
}

.link-pricing {
    color: #8ECAE6;
    transition: 150ms;
    text-decoration: none;
}

#pricingh2 {
  text-align: center;
}

/* All box sizings */

* {
    
    box-sizing: border-box;
}

/* About Us page */

.writeup {
    width:77%;
    color:#023047;
}
.email {
    width:20px;
    height:20px;
    margin-top: -15px;
}
.profilepic {
    width: 150px;
}

/* Services page */

#services-p {
    font-size: 25px;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    overflow: hidden;
}
.services-img {
    width: 200px;
}

 #services-h2{
  padding-top: 20px;
  cursor: pointer;
  text-align: center;
  font-size:30px;
}
.globe{
  height: 250px;
  width: 290px;
  margin-left:5%;
}
.flex{
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}
/* contact page */
.contact {
    color: #023047;

}
.h1{
    font-size: 25px; 
    
}
.firstrect{
    text-align: center;
    list-style-type: none;
    font-size: 25px;
    color: #023047;
    border: 6px solid #023047;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 80%;
    
}
.secondrect{
    text-align: center;
    list-style-type: none;
    font-size: 25px;
    color: #023047;
    border: 3px solid #023047 ;
    padding: 1px;
    margin: 20px;
    border-radius: 10px;
    width:30%;
    display: block;
    margin-left: auto;
    margin-right: auto;


}

.thirdrect{
    text-align: center;
    list-style-type: none;
    font-size: 25px;
    color: #023047;
    border: 3px solid #023047;
    padding: 0.5px;
    margin: 5px;
    border-radius: 10px;
    width:20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fourthrect{
    text-align: center;
    list-style-type: none;
    font-size: 25px;
    color: #023047;
    border: 6px solid #023047;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width:95%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#sendmessage {
  
}
/* Gamelle Contact Page
body{
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(rgba(0,0,150,0.5), rgba(0, 50, 0.5)), url(pic2.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.contact-title{
    margin-top: 100px;
    color: #eee;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}
.contact-title h1{
    font-size: 32px;
    line-height: 10px;
}
.contact-title h2{
    font-size: 16px;
}
form{
    margin-top: 50px;
    transition: all 4s ease-in-out;
}
.form-control{
    width: 600px;
    background : transparent;
    border: none;
    outline:none:
    border-bottom: 1px solid gray;
    color:#eee;
    font-size: 18px;
    margin-bottom: 16px:
}
input{
    height: 45px;
}
form .submit{
    background: #ff5;
    border-color: transparent;
    color: #000000;
    font-size: 20px;
    font-weight:bold;
    letter-spacing:2px;
    height:50px;
    margin-top:20px;
}
form .submit:hover{
    background-color: #f44336;
    cursor: pointer;
}
*/


/* sign up and login */

.signup-box {
    width: 360px;
    height: 600px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
    border-color: #219EBC;
    border-style: solid;
   border-width: 5px;
   border-radius: 3px;
}

.login-box {
    
    border-color: #219EBC;
     border-style: solid;
    border-width: 5px;
    border-radius: 3px;
    width: 360px;
    height: 280px;
    margin: auto;
    background-color: white;
}

h1 {
    text-align: center;
    padding-top: 15px;
    cursor:context-menu;
}

h4 {
    text-align: center;
}

form {
    width: 300px;
    margin-left: 20px;
}

form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
    margin-left: auto;
    margin-right: auto;
}

.form-control{

  width: 90%;
  margin-left: 13px;
}

.form-control  {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}

.form-control {
  
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}
input[type="submit"]{
  width: 40%;
  height: 35px;
  margin-top: 20px;
  margin-right:200px;
  margin-left:60px;
  
  border: none;
  background-color: #219EBC;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

  

input[type="button"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #219EBC;
    color: white;
    font-size: 18px;
}
.termsandconditions, .para-2{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}
.para-2 {
    color: #219EBC;
    font-size: 15px;
    margin-top: -10px;
}
.para-2 a {
    color: #219EBC;
}

.bigcontainer{
  display: flex;
  margin: 50px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.topnav{
  position: top;
  padding: 0;
  margin: 0;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  
  html{
    height: 100%;
  }
  
  body{
    background: #fbfbff;
    display: block;
    min-height: 100vh;
    justify-content: center;
    font-family: 'arial';
  }
  
  /*about us page*/
  
  .option_item {
    display: block;
    position: relative;
    width: 220px;
    height: 220px;
    margin: 10px;
  }
  
  .option_item .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
  }

  .option_item .option_inner {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 58px 40px;
    cursor: pointer;
    color: #ffffff;
    display: block;
    border: 10px solid transparent;
    position: relative;
  }
  
  .option_item .option_inner .icon {
    margin-bottom: 10px;
  }
  
  .icon > img{
    position: absolute;
    display:block;
    object-fit: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: 120%;
    max-height: 120%;
  }

  
  .icon:hover img{
    /*zoom*/
    object-fit: center;
    left: -20px;
    height: 120%;
    width: 120%;
    transition: 0.8s;
  }
  
  
  .option_item:hover .boxtext{
    opacity: 1;
    transform : translateY(0);
  }

  
  .option_item .boxtext{
    position: relative;
    color: #fff;
    opacity: 0;
    transform: translateY(60px);
    transition: .5s;
  
    
    z-index : 3;
  }

  .boxtext{
    letter-spacing: 2px;
    font-family: Andale Mono, monospace;
  }
  
  .option_item .writeup {
    visibility: hidden;
    background-color: hsl(319, 35%, 21%, 0.5);
    position: absolute;
    display:block;
    object-fit: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: 120%;
    max-height: 120%;
    color:rgb(255, 255, 255);
    line-height: 200%;
    border-radius: 2px;
    border-color: #fff;
    border-style: solid;
    border-width: 3px;
    
    word-wrap: break-word;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    
   
  }



  .option_item .email{
    visibility: hidden;
  }

 /* .option_item .checkbox:checked ~ .option_inner {
    border-color: #48233C;
    color: #48233C;
  }
  */

  .option_item .checkbox:checked ~ .option_inner .writeup{
    visibility: visible;
  }
  
  
  .option_item:hover{
    transform: translateY(-20px);
    cursor: pointer;
  }
  
  .option_item:hover:before{
    opacity: 1;
  }
  
  .option_item:before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  
    /*shadow*/
    background: linear-gradient(to top, #000, transparent);
  
    /*priority*/
    z-index: 2;
  
    /*animations*/
    transition: 0.5s;
    opacity: 0;
  }
  .option_item{
    display: flex;
    position: relative;
    align-items: flex-end;
    width: 360px;
    height: 400px;
  
    /*colors and shados*/
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
    /*animations*/
    transition: .8s ease-out;
    /*overflow: hidden;*/
  }
  
  .option_item .option_inner .tickmark {
    position: absolute;
    top: -1px;
    left: -1px;
    border: 20px solid;
    border-color: rgb(254, 254, 254) transparent transparent rgb(255, 255, 255);
    display: none;
  }
  
  .option_item .option_inner .tickmark:before {
    content: "";
    position: absolute;
    top: -18px;
    left: -18px;
    width: 15px;
    height: 5px;
    border: 3px solid;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-45deg);
  }
  
  .option_item .checkbox:checked ~ .option_inner .tickmark {
    display: block;
  }
  
  /*.option_item .option_inner .tickmark {
    border-color: #48233C transparent transparent #48233C;
  }
  */
  
 
  .footer {
    
    background: #FFB703;
    
    color: rgb(255, 255, 255);
    padding: 0.5em;
    height:100%;
    width: 100%;
    box-shadow: 0 -3px 10px #1b1b19;
    position: static;
    display: block;
  }
 
  .imageicon{
    height:30px;
    width:30px;
   
  }
  .imageicon:hover {
    transition: transform .2s; 
    transform: scale(1.5); 
  }
  .animation:hover{
    transition: transform .2s;
    transform: scale(1.3); 
  }
 
  .imageicon2{
    height:20px;
    width:20px;
    margin-right:10px;
      
   }
   #footerdiv{
    display: flex;
    padding:8px;
   }
   #design{
    
    text-align: right;
    padding-right: 30px;
   }
 
   
  .socialmedia{
    justify-content: flex-end;
    text-align: right;
    padding-right: 25px;
    
   }
   .imageicon3:hover  {
     cursor: pointer;
    transform: scale(1.5); 
  }
  .imageicon3{
      height:30px;
      width:30px;
      margin-right: 10px;
      padding-bottom: 7px;
      margin-bottom: 10px;
    
 }